@model IEnumerable<MMXModelsLib.RaceModel>
<div>
    <table>
        <tr>
            <th>
             @if ((bool)ViewData["IsAdmin"]) {  
                    @Html.ActionLink("Create New", "AddUpdateRace", new { raceKey = 0 })
                }
            </th>
            <th>
                Race
            </th>
            <th>
                Track
            </th>
            <th>
                Race Date
            </th>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @if ((bool)ViewData["IsAdmin"]) {                  
                        @Html.ActionLink("Update", "AddUpdateRace", new { raceKey = item.RaceKey })                
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaceDate)
                    @Html.HiddenFor(modelItem => item.RaceKey)
                    @Html.HiddenFor(modelItem => item.TrackKey)
                </td>
            </tr>
        }
    </table>
</div>
